<form {{action "createOrder" model on="submit"}}>
    <label for="name">Name</label>
    {{input types="text" value=model.name}}
    {{#each model.items as |item|}}
        <label>
            {{item.product.title}} @ ${{item.product.price}}/ea
            {{input type="number" min="0" value=item.quantity}}
            <button {{action "addToItemQuantity" item 10}}>+10</button>
        </label>
    {{/each}}
    <input type="submit" value="Order">
</form>