{{#if model}}
<p>Order {{model.id}} for {{model.name}}</p>

<table>
    {{#each model.items as |lineItem|}}
        <tr>
            <td>{{lineItem.title}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.unitPrice}}</td>
            <td>${{lineItem.price}}</td>
            <td>{{item-percentage itemPrice=lineItem.price orderPrice=model.totalPrice}}</td>
        </tr>
    {{/each}}
</table>   
<p>Total price: ${{model.totalPrice}}</p>
{{/if}}